@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
*::selection{
  background: #000;
  color:#fff;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fff;
  font-weight: 300;
}

section {
  min-height: 100vh;
  padding: 0 0;
  padding-top: 6rem;
  padding-bottom: 2rem;
  /* border-style: dashed; */
  margin: 0 20%;
}

header {
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0.8rem 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2.3rem;
  font-weight: 600;
  color: #424242;
}

header .logo span {
  font-weight: 500;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid;
  margin-bottom: 1rem;
}
.profile .left {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.profile .left h1 {
  
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
}
.profile .left h3 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 400;
}

.profile .right {
  /* border: 1px solid; */
  display: flex;
  /* border: 1px solid; */
  align-items: center;
  justify-content: center;
  padding: 0 1% 0 10%;
}
.profile .right img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 2px solid;
}

.desc {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 5rem;
}
.desc .text{
  display: flex;
  flex-direction: column;
}
.desc .text h2{
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
  
}
.desc .text {
  border: 1px solid;
  margin-bottom: 2rem;
}
.desc .text img {
  width:1.3rem;
}

.desc .text a{
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.desc .text a:hover{
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(130, 130, 130);
}

.desc .text p{
  font-size: 1.7rem;
  padding-right: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-indent: 1rem;
  text-align: justify;
}

.alllist{
  
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
}
.alllist .list{
  padding-left: 1rem;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.5rem;
}
.alllist .list img {
  /* border: 1px solid; */
  width: 4.5rem;
  height: 4rem;
}
.alllist .list h3{
  /* border: 1px solid; */
  font-size: 1.7rem;
  font-weight: 400;
  margin-left: 2rem;
}

.skill {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 5rem;
}
.skill .text h2{
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.project {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 5rem;
}
.project .text h2{
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.portofolio {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 5rem;
}
.portofolio .text h2{
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}


footer {
  padding-top: 1rem;
  background: #fff;
  border: 1px solid;
}

footer .foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .foot h4{
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
  
}
footer .foot .images{
  margin: 0.7rem 0;
}

footer .foot img{
  width: 3rem;
  margin: 0 1rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding-top: 6rem;
    
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 2%;
    padding-top: 6rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  header {
    padding: 1rem 1rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1rem 1rem;
  }
  .desc .text p{
    padding-right: 0;
  }

  section .profile {
    flex-direction: row-reverse;
  }
  section .profile .right {
    padding: 0 2% 0 0;
  }

  section .profile .left h1 {
    font-size: 2.6rem;
    font-weight: 600;
  }
  section .profile .left h3 {
    font-size: 1.7rem;
    font-weight: 400;
  }

  section .profile .right img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
